<ul class="">
    <li class=""><small>&copy; 2022 Le Bric à Brac</small></li>                           
    {# <li class="list-group-item"><a href="#">Retour haut de page</a></li>                 #}
</ul>
